<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>246167725320-m76prt7i8nscn2nee9a8v7mvt0k48knj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246167725320-m76prt7i8nscn2nee9a8v7mvt0k48knj</string>
	<key>API_KEY</key>
	<string>AIzaSyAtyJqzSEO-Jppm6-cD4mQuohL2WmDPWIE</string>
	<key>GCM_SENDER_ID</key>
	<string>246167725320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.workingArgo</string>
	<key>PROJECT_ID</key>
	<string>argo-4cbff</string>
	<key>STORAGE_BUCKET</key>
	<string>argo-4cbff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246167725320:ios:f7991d4a7267b597</string>
	<key>DATABASE_URL</key>
	<string>https://argo-4cbff.firebaseio.com</string>
</dict>
</plist>